<%- include('partials/header'); -%>

<div class="container">

    <h1> <%= camp.name %></h1>

    <img src="<%= camp.image %> alt="">

    <p> <%= camp.description %> </p>

</div>



<div class="container">
    <% camp.comments.forEach(function(comment){ %>
        <div class="container">
            <p> <%= comment.text %> - <strong><%= comment.author %></strong></p>
        </div>
    <% }); %>
</div>

<%- include('partials/footer'); -%>
